@model dynamic
<div>
    <form asp-action="CreateCategory">
        <div>
            <label>Product Name</label>
            <input type="text" name="Name" required>
        </div>
        <div>
            <label for="">Product Description</label>
            <input type="text" name = "Description" required>
        </div>
        <div>
            <input type="submit" value="submit" class="btn badge-info">
        </div>
    </form>
</div>