@model IEnumerable<WebApplicationSalesMS.DTOs.CategoryDto.CategoryDto>
@{
    ViewData["Title"] = "Category";
    //Layout = null;
}
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Category Name</th>
            <th>Category Description</th>
            <th>Update Category</th>
            <th>Delete Category</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <th>@category.Name</th>
                <th>@category.Description</th>
                <th><a asp-action="Update" asp-route-id="@category.Id" class="btn btn-info">Update</a></th>
                <th><a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-info">Delete</a></th>
            </tr>
        }
        </tbody>
    </table>
    <div>
        <a asp-controller="Category" asp-action="CreateCategory" class="btn btn-secondary">Add Category</a>
    </div>
</div>